.search-ico {
	width: 40upx;
	height: 40upx;
}

.search-text {
	font-size: 14px;
	background-color: #eaeaea;
	height: 60upx;
	width: 650upx;
}

.search-block {
	display: flex;
	flex-direction: row;
	padding: 0 20upx 15upx 20upx;
	/* 固定搜索栏 */
	position: fixed;
	top: 100;
	z-index: 100;
	background-color: #f8f8f8;
}

.search-ico-wapper {
	background-color: #eaeaea;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10upx;
}

.poster {
	width: 200upx;
	height: 270upx;
}

.movie-list {
	display: flex; 
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 90upx 10upx 0 16upx;
}

.movie-wapper {
	padding: 10upx 20upx;
}